<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:replace="fragments :: pagetop"></div>

<form method="post" action="/expenses/create">
    <div>
        <label>Expense Name
            <input th:field="${expense.name}">
        </label>
        <p th:errors="${expense.name}"></p>
    </div>

    <div>
        <label>Expense $
            <input th:field="${expense.amount}">
        </label>
        <p th:errors="${expense.amount}"></p>
    </div>

    <div>
        <input type="submit" value="Add Expense">
    </div>
</form>

</body>
</html>