<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: pagetop"></div>

<h1 align="center" th:text="'Event: ' + ${event.name}"></h1>
<a th:if="${!event.archive}" th:href="'/events/edit?eventId=' + ${event.id}">Edit</a>
<form method="post" action="/events/detail" th:if="${!event.archive}">
    <button type="submit" name="eventId" th:value="${event.id}" class="btn btn-warning">Archive Event</button>
</form>
<form method="post" action="/events/detail" th:if="${event.archive}">
    <button type="submit" name="eventId" th:value="${event.id}" class="btn btn-warning">Unarchive Event</button>
</form>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 align="center">Expenses</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th th:if="${!event.archive}">Edit</th>
                        <th th:if="${!event.archive}">Delete</th>
                    </tr>
                </thead>
                <tr th:each="expenses : ${expense}">
                    <td th:text="${expenses.name}"></td>
                    <td th:text="${expenses.amount}"></td>
                    <td th:if="${!event.archive}">
                        <a th:href="'/expenses/edit?expenseId=' + ${expenses.id}">Edit</a>
                    </td>
                    <td th:if="${!event.archive}">
                        <a th:href="'/expenses/delete?expenseId=' + ${expenses.id}">Delete</a>
                    </td>
                </tr>
            </table>
            <button th:if="${!event.archive}" th:onclick="|window.location.href='/expenses/create?eventId=' + ${event.id}|">Add Expense</button>
        </div>

        <div class="col">
            <h2 align="center" th:text="'Total Budget: $' + ${event.budget}"></h2>
            <div class="progress" th:if="${event.budget >= amount}">
                <div class="progress-bar bg-success" role="progressbar" th:style="'width:'+${100-((event.budget-amount)/event.budget*100)}+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" th:text="${100-((event.budget-amount)/event.budget*100)}+'%'"></div>
            </div>
            <div class="progress" th:if="${amount>event.budget}">
                <div class="progress-bar bg-danger" role="progressbar" th:style="'width:'+${100-((event.budget-amount)/event.budget*100)}+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" th:text="${100-((event.budget-amount)/event.budget*100)}+'%'"></div>
            </div>
            <p align="center" th:text="'Amount spent: $' + ${amount}"></p>
            <p align="center" th:if="${event.budget >= amount}" th:text="'Amount left: $' + ${event.budget-amount}"></p>
            <p align="center" th:if="${amount>event.budget}" th:text="'Amount over budget: $' + ${amount-event.budget}"></p>
        </div>
    </div>
</div>
</body>
</html>