<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: pagetop"></div>

<form method="post">
    <div class="form-group" style="text-align:center">
        <label>Event Name
            <input th:field="${event.name}" class="form-control">
        </label>
        <p th:errors="${event.name}"></p>
    </div>

    <div class="form-group" style="text-align:center">
        <label>Budget $
            <input th:field="${event.budget}" class="form-control">
        </label>
        <p th:errors="${event.budget}"></p>
    </div>
    <div class="row">
        <div class="col" style="text-align:right">
            <input type="submit" value="Update Event" class="btn btn-success">
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" th:onclick="|window.location.href='/events/detail?eventId=' + ${event.id}|">Cancel</button>
        </div>
    </div>

</form>
</body>
</html>