<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: pagetop"></div>
<h1>Event home</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Budget Events</th>
                </tr>
                </thead>
                <tr th:each="event : ${events}">
                    <td><a th:text="${event.name}" th:href="'/events/detail?eventId=' + ${event.id}"></a> </td>
                </tr>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Shared Budget Events</th>
                </tr>
                </thead>
                <tr th:each="event : ${events}">
                    <td><a th:text="${event.name}" th:href="'/events/detail?eventId=' + ${event.id}"></a> </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div>
    <button onclick="location.href='/events/archive'">View Archived Events</button>
</div>
</body>
</html>